Repository JamesKoenig/FieldLily, pull requests merged in 2021-03, with the labels that each got.

#55 Habit styling
  frontend/src/components/habits/habit_box.css
  frontend/src/components/habits/habit_box.js
  frontend/src/components/habits/habits.css
  frontend/src/components/habits/habits.js
Labels: enhancement, frontend, styling/css

#58 hotfix `resources.jsx` prop to be map-able
  frontend/src/components/resources/resources.jsx
  frontend/src/components/resources/resources_container.js
Labels: bugfix

#62 show habit title in resource show
  frontend/src/components/nav/navbar.css
  frontend/src/components/resources/resource_show.jsx
  frontend/src/components/resources/resource_show_container.jsx
Labels: enhancement, frontend

#64 Habit show
  frontend/package-lock.json
  frontend/src/components/app.js
  frontend/src/components/habits/habit_box.js
  frontend/src/components/habits/habit_show.jsx
  frontend/src/components/habits/habit_show_container.jsx
  frontend/src/components/resources/resources.css
  frontend/src/components/resources/resources.jsx
  package-lock.json
Labels: enhancement, frontend, question

#70 mongodb Seeding
  package.json
  seed/drop_model.js
  seed/seed.js
  seed/seed_habits.js
  seed/seed_many.js
  seed/seed_resources.js
  seed/seed_users.js
  seed/seedfile_parse.js
  seed/seedfiles/habit.json
  seed/seedfiles/resource.json
  seed/seedfiles/user.json
Labels: backend, enhancement

#74 Main and nav cleanup
  frontend/src/components/app.js
  frontend/src/components/footer/footer.css
  frontend/src/components/footer/footer.jsx
  frontend/src/components/main/main_page.js
  frontend/src/components/nav/navbar.css
  frontend/src/components/nav/navbar.js
Labels: bug, frontend, styling/css
