Repository JamesKoenig/FieldLily, pull requests merged in 2021-04, with the labels that each got.

#111 make the background consistent (as per #105)
  frontend/src/components/habits/habit_show.css
  frontend/src/components/habits/habit_show.jsx
  frontend/src/components/resources/resource_index_item.css
  frontend/src/components/resources/resource_index_item.jsx
  frontend/src/components/resources/resource_show.css
  frontend/src/components/resources/resource_show.jsx
Labels: enhancement, pending approval, styling/css

#117 Delete habit button & confirmation modal
  frontend/src/actions/habit_actions.js
  frontend/src/actions/modal/confirmation_modal_actions.js
  frontend/src/components/habits/habit_delete_confirmation.css
  frontend/src/components/habits/habit_delete_confirmation.jsx
  frontend/src/components/habits/habit_show.jsx
  frontend/src/components/habits/habit_show_container.jsx
  frontend/src/components/modal/modal_manifest.js
  frontend/src/reducers/entities/habits_reducer.js
  frontend/src/reducers/modal/misc_reducer.js
  frontend/src/reducers/modal/status_reducer.js
  frontend/src/reducers/modal/subtype_reducer.js
  frontend/src/reducers/modal/type_reducer.js
  frontend/src/util/habit_api_util.js
Labels: enhancement, frontend

#118 make index styling consistent & easy to maintain as such
  frontend/src/components/common-stylings/entity-index-item.css
  frontend/src/components/common-stylings/entity-index.css
  frontend/src/components/habits/habit_box.css
  frontend/src/components/habits/habit_box.js
  frontend/src/components/habits/habits.js
  frontend/src/components/resources/resource_index_item.css
  frontend/src/components/resources/resource_index_item.jsx
  frontend/src/components/resources/resources.css
  frontend/src/components/resources/resources.jsx
Labels: styling/css

#124 add the ability to create resources to the frontend
  frontend/src/actions/modal/resource_modal_actions.js
  frontend/src/actions/resource_actions.js
  frontend/src/components/habits/habit_show.jsx
  frontend/src/components/resources/resource_form.jsx
  frontend/src/components/resources/resource_form_container.js
  frontend/src/reducers/entities/resources_reducer.js
  frontend/src/reducers/modal/misc_reducer.js
  routes/api/resources.js
Labels: backend, enhancement, frontend, pending approval

#129 issue 123: don't render create/update/delete to non-user
  frontend/src/components/habits/habit_show.jsx
  frontend/src/components/habits/habit_show_container.jsx
  frontend/src/components/resources/resource_show_container.jsx
Labels: enhancement, frontend

#150 remove footer "about us" link, unbreak profile
  frontend/src/components/footer/footer.jsx
  frontend/src/components/profile/profile.js
Labels: discussion
